*{
    box-sizing: border-box;
}
.section-header{
    padding: 20px 50px;
    background: #1C1A19;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__nav{
    display: flex;
    
    
}

.header__nav-list{
    list-style: none;
    width: 300px;
    display: flex;
    align-items: center;
    
}

.nav__list-item{
    cursor: pointer;
    color: white;
    font-size: 21px;
    transition: .2s all;
    padding-left: 20px;
}


.nav__list-item:hover{
    color: #FDBF5A;
}
